<div class="container-fluid">
    <h1><strong>Home of Inspirational Quotes</strong></h1>
        <h2> Wanna Be Inspired ? We got you covered.</h2>
        <p> Moments of inspiration and motivation can seem elusive and fleeting. Think of how it feels when you are on a roll: you are focused, creative, productive, and you are making things happen. 
It is one of the best feelings in the world! Sadly, we all know these moments don not last forever. There are times you may hit a wall. 
Whether it is a mental block, a physical obstacle, the loss of a sale, or the fear of the unknown holding you back, take comfort in the fact that everyone 
whether a student,an entrepreneur or business owner has encountered a similar situation.
“Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don not quit.” by Conrad Hilton.
How do entrepreneurs stay motivated in spite of failures and setbacks? To put it simply, successful people just don not quit. Ever. Frequently referencing these motivational quotes can help inspire you when you feel powerless or stuck. 
                In times of doubt, failure, frustration, and fear, pull out some of these famous words, and recognize the problem you are having as an opportunity to start again.</p>
    <hr> 

    <div class="row">
    <div class="col-md-8">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    </div>
    <div class="row">
      <div *ngFor='let quote of quotes; let i = index' class="col-md-3">
        <div class="card text-black bg-dark h-100">
        <div class="card-header text-center">
            Quote
        </div>
        <div class="card-body text-center">
            <p>{{quote.quote}}</p>
            <button (click)='displayDetails(i)' class="btn btn-primary text-black">Display Details</button>
        </div>
        <div class="card-footer text-center">
            <app-quote-detail *ngIf='quote.showAuthorAndSubmitter' [quote]='quote' (isComplete)='deleteQuote($event, i)'></app-quote-detail>
        </div>
        </div>
    </div>
    </div>
</div>


